
body { font-family:Arial; }

.album-name-input { font-size:24px; font-weight:600; border:none; border-bottom:1px solid transparent; outline:none; }

.photo-browser { display:flex; align-items:flex-start; justify-content:flex-start; }

.photo-card { margin:10px; }
.photo-thumb { width:300px; height:300px; background-position:center; background-size:cover; margin-bottom:10px; }
.photo-name-input { font-family:'Open Sans', sans-serif; font-size:16px; font-weight:500; width:100%; line-height:1.2; border:none; border-bottom:1px solid transparent; outline:none; resize: none; }
.photo-name-input:focus { border-bottom-color:red; }